@use 'variables' as v;

@mixin mobile {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {

    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktopL {

    @media (min-width: 1440px) {
        @content;
    }
}

@keyframes typing {
    from {
        width: 0rem;
    }

    to {
        width: 8.4ch;
    }
}

@keyframes typingTitle {
    from {
        width: 0rem;
    }

    to {

        width: 14.7ch;
    }
}

@keyframes opacityEffect {

    to {
        opacity: 1;
        pointer-events: initial;
    }
}

@keyframes overflowEffect {
    from {
        overflow: hidden;
    }

    to {
        overflow: auto;
    }
}

@keyframes overflowEffectDesktop {
    from {
        overflow: hidden;
        margin: 0 1.7rem 0 0;
    }

    to {
        margin: 0;
        overflow: auto;
    }
}



@keyframes presentationEffect {
    from {
        transform: translateY(11rem);

    }

    to {
        transform: translateY(0rem);
    }
}

@keyframes underlineEffect {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes changeBorder {
    to {
        border-color: transparent;
    }
}

@keyframes borderEffect {
    0% {

        box-shadow: inset 0px 1.5px 1px v.$secondary;
    }

    25% {
        box-shadow: inset 1.5px 0px 1px v.$secondary;
    }

    50% {

        box-shadow: inset 0px -1.5px 1px v.$secondary;
    }

    75% {

        box-shadow: inset -1.5px 0px 1px v.$secondary;
    }

    100% {
        box-shadow: inset 0px 1.5px 1px v.$secondary;

    }
}

@keyframes beforeEffect {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}