@use '../base/variables' as v;
@use '../base/mixins' as m;

.line {
  margin: 2rem 0;
  background-color: v.$line;
  height: 0.1rem;
  border: none;
}

.button {
  background: npne;
  border: none;
  text-decoration: none;
  font-size: clamp(2rem, 4vw, 2.5rem);
  color: v.$font-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s, color .5s;
  
  &:hover {
    cursor: pointer;
    color: v.$secondary;
    transform: scale(1.1);
    z-index: 1;
    &::before {
      animation: beforeEffect .3s ease-out forwards;
      position: absolute;
      z-index: 1;
      bottom: -1.2rem;
      font-size: clamp(1rem, 3vw, 1.2rem);
      width: 6.35rem;
    }
  }

  &__code:hover::before {
    content: "Ver c칩digo";
  }

  &__page:hover::before {
    content: "Ver p치gina";
  }

  // @include m.mobile {
  //   &::before {
  //     animation: beforeEffect .3s ease-out forwards;
  //     position: absolute;
  //     z-index: 1;
  //     bottom: -1.5rem;
  //     font-size: 1rem;
  //     width: 6.35rem;
  //   }

  //   &__code::before {
  //     content: "Ver c칩digo";
  //   }

  //   &__page::before {
  //     content: "Ver p치gina";
  //   }
  // }
}


// .button {
//   background: v.$primary;
//   border: none;
//   border-bottom: 0.2rem solid v.$secondary;
//   letter-spacing: 0.05rem;
//   text-transform: uppercase;
//   padding: 1rem;
//   text-decoration: none;
//   border-radius: .2rem;
//   font-size: 1.45rem;
//   color: v.$font-color;
//   transition: animation .5s;

//   &:hover {
//     cursor: pointer;
//     animation: borderEffect 0.58s linear infinite;
//     border: none;

//   }
// }

.opacity {
  opacity: 0;
  pointer-events: none;
  animation: opacityEffect 1s 3.15s forwards cubic-bezier(.14, .44, .84, .8);
}

.subtitle {
  font-weight: initial;
  text-align: start;
  margin: 3rem 0;
  font-size: clamp(2.4rem, 4vw, 2.8rem);
  color: v.$font-color;

  &__colored {

    color: v.$secondary;
  }

}

.link {
  color: v.$secondary;
  text-decoration: none;
}

.border {
  border: .01rem solid v.$font-color;
}

.glider-dot {
  transition: transform .5s;
  width: 1rem;
  height: 1rem;

  &.active {
    background-color: v.$secondary;
    transform: scale(1.15);
  }
}

.card-container {

  .glider-contain {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .glider-prev,
    .glider-next {
      position: initial;
    }

    .projects-glider {
      margin: 0;

      .glider-track {

        .glider-slide {
          transform: scale(0.99);
        }
      }
    }

    .glider-dots {
      position: absolute;
      z-index: 1;
      bottom: -3rem
    }
  }
}

.glider {
  margin: 1rem 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.line-tiny {
  margin: 1rem 0;
  background-color: v.$secondary-opaqued;
}