@use '../base/variables' as v;
@use '../base/mixins' as m;

.card {
  min-width: 27rem;
  @include m.tablet{
    min-width: 30rem;
  }
  @include m.desktop{
    min-width: 43rem;
  }

  &__image {
    width: 100%;
  }


  &__name {
    text-align: start;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }

  &__technologies {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      color: v.$font-opaqued;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem 0 2rem;
  }
}