@use '../base/variables' as v;
@use '../base/mixins' as m;

.container {
  text-align: center;
  width: 85%;
  margin: 0 auto;

  @include m.tablet {
    width: 80%;
  }

  @include m.desktop {
    width: 75%;
  }

  @include m.desktopL {
    width: 65%;
  }

  .projects-side {
    margin: 1rem 0;

    &__container {
      display: flex;
      gap: 5rem;

      &::-webkit-scrollbar {
        width: 0.2rem;
        background-color: v.$white;
        height: 0.5rem;
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: v.$secondary-opaqued;
        border-radius: 0.5rem;
      }
    }

  }


}

.navigation {

  &__circle {
    width: 1.2rem;
    height: 1.2rem;
    background-color: v.$font-opaqued;
    border-radius: 50%;
    transition: transform 0.5s;
    border: none;
    margin: 0 0.2rem;

    &:disabled {
      width: 1.4rem;
      height: 1.4rem;
      background-color: v.$secondary-opaqued;
    }
  }
}

.views {
  position: relative;
  height: 35rem;

  .view {
    height: 100%;
  }
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__info {
    position: absolute;
    height: 100%;
    background-color: #000000e9;
    left: 10%;
    display: flex;
    justify-content: center;
    width: 30%;
    min-width: fit-content;
    pointer-events: none;
    align-items: center;

    &__center {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      pointer-events: all;
      gap: 2rem;
    }
  }


}

.slider {
  display: flex;
  align-items: center;

  &__arrow {
    
    color: v.$font-color;
    font-size: clamp(3rem, 4vw, 4rem);
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    background: #000000e9;
    transition: transform .5s, color .5s;
    position: absolute;
    z-index: 1;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    color: v.$secondary;
    }
    &__prev{
      left: -0.5rem;
    }
    &__next {
      right: -0.5rem;
    }
  }


}