@use '../base/variables' as v;
@use '../base/mixins' as m;

.container {
  text-align: center;
  width: 85%;
  margin: 0 auto;

  @include m.tablet {
    width: 80%;
  }

  @include m.desktop {
    width: 75%;
  }

  @include m.desktopL {
    width: 65%;
  }



  .projects-side {
    &__container {
      display: flex;
      gap: 5rem;

      &::-webkit-scrollbar {
        width: 0.2rem;
        background-color: v.$white;
        height: 0.5rem;
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: v.$secondary-opaqued;
        border-radius: 0.5rem;
      }
    }

  }


}

.navigation {
 
  &__circle {
    width: 1.2rem;
    height: 1.2rem;
    background-color: v.$font-opaqued;
    border-radius: 50%;
    transition: transform 0.5s;
    border: none;
    margin: 0 0.2rem;
    &:disabled {
    width: 1.4rem;
    height: 1.4rem;
      background-color: v.$secondary-opaqued;
    }
  }
}

.views {
  position: relative;
  height: 35rem;
  .view {
    height: 100%;
  }
}