@use '../base/variables' as v;
@use '../base/mixins' as m;

header{
  margin-bottom: 4rem;
}
.navbar {
  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
    }
  }

  .nav {
    gap: 3rem;
    padding: 1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: v.$primary-opaqued;


    &__left {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__name {
        font-weight: bold;
        font-size: 1.8rem;
      }

      &__my-logo {
        width: 5rem;
        border: 0.01rem solid rgb(92, 92, 92);
      }
    }
  }
}