@use '../base/variables' as v;
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

* {
  font-family: 'Space Grotesk';
  color: v.$font-color;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  body {
    font-size: 1.6rem;
    background-color: v.$background;
    margin: 0;
  }
}