@use '../base/variables' as v;
@use '../base/mixins' as m;


* {
  font-family: 'Space Grotesk';

}



html {
  font-size: 62.5%;
  box-sizing: border-box;

  body {
    font-size: 1.6rem;
    background-color: v.$primary;
    margin: 0;
    color: v.$font-color;
    overflow: hidden;
    animation: overflowEffect 1s 2.3s forwards step-end;

    @include m.desktop {
      margin: 0 1.7rem 0 0;
      animation: overflowEffectDesktop .1s 3.6s forwards step-end;
    }
  }
}