@use '../base/variables' as v;

.welcome-side {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wel-message {
    display: block;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 1s steps(14), blink .3s infinite step-end alternate, changeBorder 1s forwards;
    overflow: hidden;
    width: 8.4ch;
    font-size: clamp(2.5rem, 9vw, 3.5rem);
    font-weight: bold;
    text-align: start;

    &__char {
      white-space: nowrap;
      border-right: 2px solid;
      animation: blink .5s infinite step-end alternate;
    }
  }

  &__title {
    text-align: center;
    margin: 0;
    font-size: clamp(2.5rem, 9vw, 3.5rem);

    .under {
      text-decoration: underline v.$secondary;
    }
  }

  &__presentation {
    font-size: clamp(1.45rem, 2vw, 1.8rem);
    color: v.$font-opaqued;
  }


}